{#>*******************************************************
#> Migrated to database at jdbc:postgresql://db01.domain.tld:5432/bitbucket
#> Updated by Xavier Lamien on 2016-01-20T02:55:25.544+01:00
#>*******************************************************
#}
jdbc.driver={{ bitbuckte_db_driver }}
jdbc.url={{ bitbucket_db_uri }}
jdbc.user={{ bitbucket_db_user }}
jdbc.password={{ bitbucket_db_passwd }}

{% for k, v in bitbucket_properties | dictsort(true) %}
{{ k }}={{ v }}
{% endfor %}

